body {
  background-color: #65B7FF;
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

.mainBox {
  font-size: 24pt;
  padding-left: 400px;
  padding-right: 100px;
  margin: 0px;
}

.navigationMenu {
  background-color: white;
  padding:10px;
  width: 250px;
  left: 0px;
  top: 0px;
  position: fixed;
  height: 100%;
  font-size: 32pt;
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: #65B7FF;
}

.twoColumnBox {
  box-sizing: border-box;
  width: 100%;
}

.column {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  width: 49%;
}

.linkBox {
  padding-top: 18px;
  padding-bottom:18px;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
}

.titleHeader {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9b/Uyghur_protest_Berlin%2C_July_2009_2.jpg');
  padding-top: 500px;
  padding-bottom: 25px;
  padding-left: 250px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
  font-size: 32pt;
  background-size: cover;
  background-position: center;
}

.bodyParagraph {
  box-sizing: border-box;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.thumbnailBox {
  height: 150px;
  display: inline-block;
  width:150px;
}
.thumbnail {
  width: 150px;
  height: 150px;
  margin: 20px;
  background-size: cover;
  background-position: center;
}